[submodule "dai.js"]
	path = dai.js
	url = https://github.com/keep-network/dai.js
[submodule "dss-add-ilk-spell"]
	path = dss-add-ilk-spell
	url = https://github.com/keep-network/tbtc-makerdao-mcd
[submodule "testchain"]
	path = testchain
	url = https://github.com/makerdao/testchain
[submodule "mcd-cdp-portal"]
	path = mcd-cdp-portal
	url = https://github.com/keep-network/mcd-cdp-portal
